@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-white;
}

.button {
  @apply mr-2
	mb-2 
	w-24 
	items-center 
	rounded-full 
	bg-blue-700 
	px-2 
	pt-1 
	pb-1.5 
	text-center 
	text-sm
	font-medium
	text-white 
	hover:bg-blue-800 
	focus:outline-none
	 
	focus:ring-4 
	focus:ring-blue-300 
	dark:bg-blue-600
	dark:hover:bg-blue-700
	
	dark:focus:ring-blue-800;
}
